.metricaContainer{
    display: flex;
    padding: 1em 7em;
    justify-content: center;
}

.metricaItems{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    gap: 0.62em;
}

.metricaTitulo{
    color: var(--vermelho);
    font-size: 3.75em;
}

.metricaSubTitulo{
    margin-top: 0.62em;
    font-weight: 500;
}

.metricaTexto{
    color: var(--cinza);
    font-weight: 400;
    width: 17.5rem;
    font-size: 14px;
}
